@media only screen and (max-width: 900px){

	.logo{
		float:none;
		text-align: center;
	}
	.mainNavigation{
		float: none;
	}	

	.boxes{
		float: none;
		width: 100%;
	}
	.sidebar{
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.sidebarNav{
		width: 100%;
	}
	.sidebarNav li  {
		float: left;
	}
	.sidebar p{
		text-align: center;
	}

}


@media only screen and (max-width: 670px){
	.mainNavigation li {
		float: none;
		text-align: center;
	}
	.mainNavigation li , .mainNavigation li.firstItem{
		border: none;
	}

	.mainNavigation li a:hover{
		color: #000;
		border: none;
		background-color: orange;
	}	
	.style{
		width: 96%;
		float: none;
	}	
}